<%% content_for(:page_title) do %>
  <%% if ['new', 'create'].include? action_name %>
    <%= "New #{@resource_name.singular.titleize} | #{@resource_name.plural.titleize}" %>
  <%% elsif ['edit', 'update'].include? action_name %>
   Edit <%%= @<%= @resource_name.element %>.display_name %> | <%= @resource_name.plural.titleize %>
  <%% end %>
<%% end %>
<%%= resource_form_for([@<%= @resource_name.element %>]) do |f| %>
  <%%= f.error_notification %>
  <%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="container">
    <div class="card shadow-sm mb-3">
      <div class="card-body">
        <%% resource_form_fields.each do |field| %>
          <%%= f.input field %>
        <%% end %>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <div class="mx-1">
          <%%= link_to 'Cancel', [@<%= @resource_name.element %>], class: 'btn btn-secondary' %>
        </div>
        <div class="mx-1">
          <%%= f.button %>
        </div>
      </div>
    </div>
  </div>
<%% end %>
