<% content_for(:page_title) { resource_model.model_name.plural.titleize  } %>
<div class="row mb-3">
  <div class="col">
    <div class="border rounded bg-white shadow-sm overflow-hidden d-flex flex-row">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <% resource_list_columns.each do |list_column| %>
              <% if list_column[:sortable] && @q %>
                <th>
                  <%= sort_link(@q, list_column[:sort_key], list_column[:label], { class: 'link-dark' }) %>
                </th>
              <% else %>
                <th>
                  <%= list_column[:label] %>
                </th>
              <% end %>
            <% end %>
            <th class="py-0 text-end">
              <% if resource_search_inputs.present? %>
                <button class="btn btn-sm bi bi-search py-2" data-bs-toggle="collapse" data-bs-target="#search-container" />
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @resources.each do |item| %>
            <tr></tr>
            <% resource_list_columns.each do |list_column| %>
              <% value = item.send(list_column[:key]) %>
              <% value = value.display_name if value&.is_a? ApplicationRecord %>
              <% if list_column[:link] %>
                <td>
                  <%= link_to value || '', [item], class: 'link-dark' %>
                </td>
              <% else %>
                <td>
                  <%= value %>
                </td>
              <% end %>
            <% end %>
            <td class="fit">
              <div class="d-flex justify-content-end">
                <% if resource_route_exists?(item, :show) %>
                  <%# if policy([item]).show? %>
                  <%= link_to resource_path(item), class: 'btn btn-sm btn-primary ms-1', title: 'Show' do %>
                    <i class="bi bi-eye"></i>
                  <% end %>
                <% end %>
                <% if resource_route_exists?(item, :edit) %>
                  <%# if policy([item]).edit? %>
                  <%= link_to resource_path(item, :edit), class: 'btn btn-sm btn-secondary ms-1', title: 'Edit' do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>
                <% end %>
                <% if resource_route_exists?(item, :destroy) %>
                  <%# if policy([item]).destroy? %>
                  <%= link_to resource_path(item), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn-sm btn-danger ms-1', title: 'Delete' do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-center" colspan=<%= resource_list_columns.count + 1 %>>
              <small>
                <%= page_entries_info @resources %>
              </small>
            </td>
          </tr>
        </tfoot>
      </table>
      <% if resource_search_inputs.present? %>
        <div class="collapse collapse-horizontal" id="search-container">
          <div class="bg-secondary text-white px-3 py-1" id="search">
            <div class="d-flex justify-content-between border-bottom">
              <h6 class="my-1">Search</h6>
              <button class="btn text-white bi bi-x py-0 px-1" data-bs-toggle="collapse" data-bs-target="#search-container" />
            </div>
            <%= search_form_for @q do |f| %>
              <% resource_search_inputs.each do |key, args| %>
                  <%= render Resorcery::Search::Input.new(f, key, **args) %>
              <% end %>
              <div class="d-flex justify-content-between align-items-center py-2">
                <%= link_to 'Reset', request.path, class: 'btn btn-sm btn-outline-light' %>
                <button class="btn btn-dark bi bi-search" />
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt-3">
      <%= paginate @resources, theme: 'resorcery' %>
    </div>
  </div>
</div>
